<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <div class="collapse navbar-collapse" id="navbarSupportedContent">

        <form class="d-flex" role="Title" class="title">
          <img class="avatar" src="/src/assets/fox__logo.png" alt="">
          <span class="title">N&N </span>
        </form>

        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link friend" href="#">
              <i class="fa-solid fa-square-poll-vertical"></i> Board
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="#">
              <i class="fa-solid fa-user"></i> Me</a>
          </li>
          <li class="nav-item">
            <a class="nav-link message" href="#"><i class="fa-solid fa-envelope"></i> Message</a>
          </li>
          <li class="nav-item">
            <a class="nav-link friend" href="#">
              <i class="fa-solid fa-users"></i> Friends
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link notification" href="#">
              <i class="fa-solid fa-bell"></i> Notification
            </a>
          </li>
        </ul>
        
        <form class="d-flex" role="search" style="margin-right: 5%;">
          <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success" type="submit">Search</button>
        </form>

        
        <form class="d-flex" role="user" class="user-profile">
          <span class="username">Nghia </span>
          <img class="avatar" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR9UdkG68P9AHESMfKJ-2Ybi9pfnqX1tqx3wQ&s" alt="">
        </form>

      </div>
    </div>
  </nav>