    <section class="vh-100" style="background-color: #eee;">
    <div class="container h-100">
      <div class="row d-flex justify-content-center align-items-center h-100">
        <div class="col-lg-12 col-xl-11">
          <div class="card text-black" style="border-radius: 25px;">
            <div class="card-body p-md-5">
              <div class="row justify-content-center">
                <div class="col-md-10 col-lg-6 col-xl-5 order-2 order-lg-1">
  
                  <p class="text-center h1 fw-bold mb-5 mx-1 mx-md-4 mt-4">Đăng ký</p>
  
                  <form class="mx-1 mx-md-4" #registerForm="ngForm">
  
                    <div class="d-flex flex-row align-items-center mb-4">
                        <i class="fas fa-envelope fa-lg me-3 fa-fw"></i>
                        <div data-mdb-input-init class="form-outline flex-fill mb-0">
                          <input type="email" id="form3Example3c" [(ngModel)]="gmail" 
                          name="gmail" required class="form-control" />
                          <label class="form-label" for="form3Example3c">Email của bạn</label>
                          <p class="text-danger"
                        *ngIf="!isGmail(gmail) && gmail.length>0 ">Gmail phải đúng định dạng</p>
                        </div>
                      </div>

                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-user fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="text" id="form3Example1c" [(ngModel)]="username" 
                        name="username" required class="form-control" />
                        <label class="form-label" for="form3Example1c">Tên tài khoản</label>
                        <p class="text-danger"
                      *ngIf="username.length<1 && registerForm.form.touched">Bạn cần nhập tên của bạn</p>
                      </div>
                    </div>
  
                    
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-lock fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4c" [(ngModel)]="password"
                         name="password" required class="form-control" />
                        <label class="form-label" for="form3Example4c">Mật khẩu</label>
                        <p class="text-danger" *ngIf="password.length < 3 && registerForm.form.touched">
                            Mật khẩu phải có ít nhất 3 ký tự
                        </p>
                      </div>
                    </div>
  
                    <div class="d-flex flex-row align-items-center mb-4">
                      <i class="fas fa-key fa-lg me-3 fa-fw"></i>
                      <div data-mdb-input-init class="form-outline flex-fill mb-0">
                        <input type="password" id="form3Example4cd" [(ngModel)]="retypePassword"
                         name="retypePassword"
                        (input)="registerForm.form.markAsTouched(); checkPasswordMatch()"
                         required class="form-control" />
                        <label class="form-label" for="form3Example4cd">Nhập lại mật khẩu</label>
                        <p class="text-danger" *ngIf="retypePassword.length < 3 && registerForm.form.touched">
                            Mật khẩu phải có ít nhất 3 ký tự
                        </p>
                        <p class="text-danger" *ngIf="registerForm.controls['retypePassword'] 
                           && registerForm.controls['retypePassword'].hasError('passwordMismath') 
                           && registerForm.form.touched">
                            Mật khẩu không trùng khớp
                        </p>
                      </div>
                    </div>
  
                    <div class="form-check d-flex justify-content-center mb-5">
                      <input class="form-check-input me-2" type="checkbox" [(ngModel)]="isAccepted"
                       name="isAccepted" value="" id="form2Example3c" />
                      <label class="form-check-label" for="form2Example3">
                        Tôi đồng ý với các <a href="#!">điều khoản & dịch vụ</a>
                      </label>
                    </div>

                    <div class="d-flex justify-content-center mx-4 mb-3 mb-lg-4">
                      <button  type="button" 
                      (click)="register()"
                      data-mdb-button-init data-mdb-ripple-init class="btn btn-primary btn-lg"
                      style="white-space: nowrap;">Đăng ký</button>
                      <label class="form-check-label ms-4" for="form2Example3">
                        Bạn đã có tài khoản? <a href="/login">Đăng nhập</a>
                      </label>
                    </div>
  
                  </form>
  
                </div>
                <div class="col-md-10 col-lg-6 col-xl-7 d-flex align-items-center order-1 order-lg-2">
  
                  <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-registration/draw1.webp"
                    class="img-fluid" alt="Sample image">
  
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

